* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', Helvetica, Arial, Sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
}

.container {
	max-width: 105rem;
	margin: 0 auto;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: none;
}

.is-active {
	font-weight: bold;
}

header a {
	display: block;
}
